@font-face {
  src: url(../inter-400-regular.woff2) format('woff2'),
    url(../inter-400-regular.woff) format('woff');
  font-family: 'Inter';
  font-weight: 400;
}

@font-face {
  src: url(../inter-500.woff2) format('woff2'),
    url(../inter-500.woff) format('woff');
  font-family: 'Inter';
  font-weight: 500;
}
