@font-face {
  src: url(../Roboto_Slab/static/RobotoSlab-Thin.ttf);
  font-family: 'Roboto Slab';
  font-weight: 100;
}

@font-face {
  src: url(../Roboto_Slab/static/RobotoSlab-ExtraLight.ttf);
  font-family: 'Roboto Slab';
  font-weight: 200;
}

@font-face {
  src: url(../Roboto_Slab/static/RobotoSlab-Light.ttf);
  font-family: 'Roboto Slab';
  font-weight: 300;
}

@font-face {
  src: url(../woff-fonts/robotoslab-regular.woff);
  font-family: 'Roboto Slab';
  font-weight: 400;
}

@font-face {
  src: url(../Roboto_Slab/static/RobotoSlab-Medium.ttf);
  font-family: 'Roboto Slab';
  font-weight: 500;
}

@font-face {
  src: url(../Roboto_Slab/static/RobotoSlab-SemiBold.ttf);
  font-family: 'Roboto Slab';
  font-weight: 600;
}

@font-face {
  src: url(../Roboto_Slab/static/RobotoSlab-Bold.ttf);
  font-family: 'Roboto Slab';
  font-weight: 700;
}

@font-face {
  src: url(../Roboto_Slab/static/RobotoSlab-ExtraBold.ttf);
  font-family: 'Roboto Slab';
  font-weight: 800;
}

@font-face {
  src: url(../Roboto_Slab/static/RobotoSlab-Black.ttf);
  font-family: 'Roboto Slab';
  font-weight: 900;
}
