.header {
  background-image: url(../../images/georgia-de-lotz.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.header__title {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 30px 16px 0;
}

.header__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 16px 16px 0;
}

@media (min-width: 768px) {
  .header__title {
    margin: 40px 160px 0;
    width: 400px;
  }

  .header__text {
    margin: 16px 160px 0;
    width: 450px;
  }
}

@media (min-width: 1280px) {
  .header__title {
    font-size: 60px;
    line-height: 64px;
    width: 600px;
    margin: 80px auto 0;
  }

  .header__text {
    width: 600px;
    margin: 32px auto 0;
  }
}
