.news-card-list {
  padding: 32px 16px;
  background: #f5f6f7;
}

.news-card-list__title {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  margin: 0 0 52px;
}

.news-card-list__cards {
  list-style: none;
  margin: 0;
  padding: 0;
  row-gap: 10px;
  display: grid;
}

.news-card-list__show-more-btn {
  width: 100%;
  margin: 16px 0 0;
}

@media (min-width: 768px) {
  .news-cards-list {
    padding: 40px;
  }

  .news-card-list__title {
    margin: 0 0 32px;
  }

  .news-card-list__cards {
    display: grid;
    grid-template-rows: 420px;
    grid-template-columns: repeat(3, calc((100% - 16px) / 3));
    column-gap: 8px;
    row-gap: 8px;
    grid-auto-rows: 420px;
    grid-auto-columns: calc((100% - 16px) / 3) calc((100% - 16px) / 3)
      calc((100% - 16px) / 3);
  }

  .news-card-list__show-more-btn {
    width: 33%;
    margin: 32px auto 0;
    display: block;
  }
}

@media (min-width: 1280px) {
  .news-card-list {
    padding: 80px 100px;
  }

  .news-card-list__title {
    margin: 0 0 64px;
    font-size: 40px;
    line-height: 46px;
  }

  .news-card-list__cards {
    grid-template-rows: 576px;
    grid-auto-rows: 576px;
    row-gap: 16px;
    column-gap: 16px;
    grid-template-columns: repeat(3, calc((100% - 32px) / 3));
    grid-auto-columns: calc((100% - 32px) / 3) calc((100% - 32px) / 3)
      calc((100% - 32px) / 3);
  }

  .news-card-list__show-more-btn {
    margin: 64px auto 0;
    width: 288px;
  }
}
